streamlit
sng==0.3.2
openpyxl
whois==0.9.13
pytrends
deep-translator
streamlit-option-menu
aitextgen==0.5.2
pyecharts
seaborn==0.11.1
streamlit-aggrid
suggests
nltk
requests
ecommercetools
fake_useragent
seolib
people_also_ask_it==0.2
